<%- include('../partials/header') %>

<h1>Sign up</h1>
<form action="/users/sign_up" method="post">
    <section>
        <label for="email">Email</label>
        <input id="email" name="email" type="text" autocomplete="email" required autofocus>
    </section>
    <section>
        <label for="current-password">Password</label>
        <input id="current-password" name="password" type="password" autocomplete="current-password" required>
    </section>
    <button type="submit">Sign up</button>
</form>

<%- include('../partials/footer') %>