<%- include('../partials/header') %>

<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h2 class="mb-4">Log in</h2>
        <form action="/users/sign_in" method="post">
          <div class="field">
            <label class="form-label" for="email">Email</label>
            <input class="form-control <%= errorClass(errors, 'email') %>" id="email" name="email" type="text" autocomplete="email" required autofocus>
            <%- errorMessage(errors, 'email') %>
          </div>
          <div class="field mb-3">
            <label class="form-label" for="current-password">Password</label>
            <input class="form-control" id="current-password" name="password" type="password" autocomplete="current-password" required>
          </div>
          <div class="actions mb-3 d-grid">
            <button class="btn btn-primary" type="submit">Sign in</button>
          </div>
          
        </form>
        <div>
          <small>Don't have an account? <a href="/users/sign_up">Sign up</a></small>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>